body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f5f9ff;
}

/* Navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #0a3d62;
  color: white;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 20px;
}

.navbar li {
  cursor: pointer;
}

/* Hero Section */
.hero {
  display: flex;
  padding: 60px 40px;
  align-items: center;
  gap: 40px;
}

.hero-text {
  flex: 1;
}

.hero-text h2 {
  font-size: 40px;
  color: #0a3d62;
}

.hero-text p {
  font-size: 18px;
  color: #555;
}

.hero-text button {
  padding: 12px 20px;
  background-color: #0a3d62;
  color: white;
  border: none;
  cursor: pointer;
  margin-top: 15px;
}

.hero-image img {
  width: 420px;
  border-radius: 10px;
}

/* Services */
.services {
  text-align: center;
  padding: 40px;
}

.service-box {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  background: white;
  padding: 30px;
  width: 200px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
}

/* Footer */
.footer {
  text-align: center;
  padding: 20px;
  background-color: #0a3d62;
  color: white;
}
